* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* more on this crazy alphanumerical value in a minute! */
  color: navy;
  font-family: Helvetica, Arial, sans-serif;
}

/* apply styles to <header> */
header {
  padding: 20px 35px;
  background-color: slategray;
}
header h1 {
  font-weight: bold;
  font-size: 36px;
  margin: 0;
  display: inline;
}
header a {
  text-decoration: none;
  color: aqua;
}
header nav {
  float: right;
  margin: 7px 0;
}
header nav ul li {
  display: inline;
}
header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 18px;
  text-decoration: underline;
}
footer {
  padding: 20px 35px;
}
footer h1 {
  font-weight: bold;
  font-size: 36px;
  color: navy;
  margin: 0;
  display: inline;
}
footer a {
  color: navy;
}
footer nav {
  float: right;
  margin: 10px 0;
}
footer nav ul li {
  display: inline;
}
footer nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 16px;
}
section h1 {
  font-weight: bold;
  font-size: 36px;
  color: navy;
  margin: 0;
  display: inline;
}
section h2 {
  float: right;
}
/*hero style starts here*/
.hero {
  background-image: url("../images/download.png");
  height: 150px;
  background-size: cover;
  background-position: center;
  position: relative;
}
/* Hero Style End */

/* Hero Sub Style Start */
.hero-sub {
  background-color: aqua;
  padding: 10px;
  width: 400px;
  color: navy;
  position: absolute;
  bottom: 20px;
  right: 140px;
}
/* Hero Form Style End */

.section-title-primary-border {
  border-right-style: solid;
  border-color: navy;
}
.intro p {
  margin: auto;
  line-height: 1;
  color: navy;
  width: 80%;
  font-size: 14px;
}
.desert-landscape {
  border: 3px solid aqua;
}
.LED-wall {
  border: 3px solid aqua;
}

.laptop {
  border: 3px solid aqua;
  transition: all;
}

.pastel-blue {
  border: 3px solid aqua;
}
.run-buddy {
  border: 3px solid aqua;
}
